.mainHeader {
    display: flex;
    width: 100%;
    border-bottom: 1px solid grey;
    box-shadow: 0.35em 0.35em 0.35em rgba(0,0,0,0.135);
}

.logo {
    width: 25vh;
    margin-right: 4%;
}

.link_container {
    display: flex;
}

.links {
    font-weight: 500;
    cursor: pointer;
}

.mainHeaderLinkText {
    width: 60%;
    margin: 0%;
}

.linkContainerSmall {
    width: 5%;
}

.links:hover {
    color: #07cdd9;
    transition: 0.5s;
}

.navMenu {
    position: absolute;
    margin-top: 1.6%;
    width: 7%;
}

.navMenuProducts {
    position: absolute;
    margin-top: 1.6%;
    width: 10%;
}

.navMenuLinks {
    display: flex;
    flex-direction: column;
    background-color: #292929;
    width: 140%;
    align-items: center;
}

.navLinks {
    font-size: 90%;
    font-weight: 500;
    color: #666;
    margin-top: 4%;
    border-bottom: 1px solid white;
    width: 100%;
    display: flex;
    justify-content: center;
}