.orderNum {
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

.orderOptionsTextForm2 {
    width: 80%;
    padding-top: 1%;
    margin-left: 1.5%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2%;
}

.orderOptionsTextFormSmall2 {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.orderOptionsTextFormSmallAddress {
    width: 72.7%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 7.2%;
}

.orderOptionsTextInput2 {
    width: 70%;
    height: 5vh;
    margin-top: 2%;
}

.orderOptionsTextInputAddress {
    width: 100%;
    height: 5vh;
    margin-top: 2%;
}

.printLabel {
    margin-right: 1%;
}

.orderOptionsTextFormTitle2 {
    color: black;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 300%;
    font-weight: 400;
}

.productDisclaimerFG2 {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2.5%;
    margin-bottom: 0%;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
    border: 1px solid black;
    padding: 1%
}

.orderOptionsFlashingsImage2 {
    width: 90%;
}

.orderOptionsFlashingsImage3 {
    width: 100%;
}

.orderOptionsFlashingsInput3 {
    position: absolute;
    margin-top: 20.5%;
    border-color: black;
}

.orderOptionsFlashingsInput4 {
    position: absolute;
    margin-top: 21.5%;
    border-color: black;
}